<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>ArtikusHG</string>
                <key>user</key>
                <string>ArtikusHG</string>
                <!-- cephei no worky -->
                <key>iconURL</key>
                <string>https://pbs.twimg.com/profile_images/1198961151687757831/Uf9YqCow_400x400.jpg</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>Dan</string>
                <key>user</key>
                <string>woodfairyd</string>
                <!-- cephei no worky -->
                <key>iconURL</key>
                <string>https://pbs.twimg.com/profile_images/1287005316035555329/bjlXRIBZ_400x400.jpg</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>ClockView</string>
                <key>url</key>
                <string>https://github.com/nacho4d/ClockView</string>
                <key>subtitle</key>
                <string>A simple class that will simulate a clock</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>libappearancecell</string>
                <key>url</key>
                <string>https://github.com/conorthedev/libappearancecell</string>
                <key>subtitle</key>
                <string>iOS style appearance selector</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>Terminal</string>
                <key>url</key>
                <string>https://github.com/vecnehladny/ubersicht-termina-widget</string>
                <key>subtitle</key>
                <string>Original idea</string>
            </dict>
        </array>
        <key>title</key>
        <string>Credits</string>
    </dict>
</plist>