<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>condensed</key>
                <true />
                <key>headerCellClass</key>
                <string>HBPackageNameHeaderCell</string>
                <key>packageIdentifier</key>
                <string>com.twickd.1di4r.reachinfo</string>
                <key>backgroundGradientColors</key>
                <array>
                    <string>#2D3142</string>
                    <string>#2D3142</string>
                </array>
            </dict>
            <dict>
                <key>big</key>
                <true />
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>1di4r</string>
                <key>user</key>
                <string>1di4r</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string></string>
                <key>footerText</key>
                <string>When enabled, the bottom arrow will be removed.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true />
                <key>defaults</key>
                <string>com.1di4r.reachinfoprefs</string>
                <key>key</key>
                <string>kEnabled</string>
                <key>label</key>
                <string>Enabled</string>
                <key>PostNotification</key>
			    <string>com.1di4r.reachinfoprefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>alignment</key>
                <string>1</string>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <string>bash</string>
                <key>defaults</key>
                <string>com.1di4r.reachinfoprefs</string>
                <key>PostNotification</key>
			    <string>com.1di4r.reachinfoprefs/ReloadPrefs</string>
                <key>key</key>
                <string>Template</string>
                <key>validTitles</key>
                <array>
                    <string>Bash-like</string>
                    <string>Clock</string>
                    <string>Astronauts</string>
                    <string>Detailed</string>
                </array>
                <key>validValues</key>
                <array>
                    <string>bashLike</string>
                    <string>Clock</string>
                    <string>Astro</string>
                    <string>Detailed</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true />
                <key>defaults</key>
                <string>com.1di4r.reachinfoprefs</string>
                <key>key</key>
                <string>kChevron</string>
                <key>label</key>
                <string>Chevron</string>
                <key>PostNotification</key>
			    <string>com.1di4r.reachinfoprefs/ReloadPrefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string></string>
                <key>footerText</key>
                <string></string>
            </dict>
			<dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>placeholder</key>
                <string>Custom height</string>
                <key>defaults</key>
                <string>com.1di4r.reachinfoprefs</string>
                <key>label</key>
                <string></string>
                <key>key</key>
                <string>kHeight</string>
                <key>PostNotification</key>
			    <string>com.1di4r.reachinfoprefs/ReloadPrefs</string>
            </dict>
			<dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string></string>
                <key>footerText</key>
                <string></string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>label</key>
                <string>Credits</string>
                <key>detail</key>
                <string>RICreditsSubListController</string>
            </dict>
			<dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string></string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>Donate</string>
                <key>subtitle</key>
                <string>By me a drink?</string>
                <key>url</key>
                <string>https://paypal.me/01di4r</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>label</key>
                <string>Source Code</string>
                <key>subtitle</key>
                <string>Github</string>
                <key>url</key>
                <string>https://github.com/1di4r/ReachInfo</string>
            </dict>
            <dict>
                <key>cell</key>
                <key>PSGroupCell</key>
                <key>footerAlignment</key>
                <string>1</string>
                <key>footerText</key>
                <string>© 2020 1di4r</string>
            </dict>
			<dict>
                <key>cell</key>
                <key>PSGroupCell</key>
                <key>footerAlignment</key>
                <string>1</string>
                <key>footerText</key>
                <string>Customizations and more widgets/templates will be added soon.</string>
            </dict>
        </array>
        <key>title</key>
        <string>ReachInfo</string>
    </dict>
</plist>